# Project exclude paths
/module01-environment-validation/target/
/module01-question01/target/
/module01-question02/target/
/module01-question03/target/
/module01-question04/target/
/module01-question05/target/
/module01-question06/module01-question06-boot-cli/target/
/module01-question06/module01-question06-boot-web/target/
/module01-question06/module01-question06-non-web/target/
/module01-question06/module01-question06-web-servlet2/target/
/module01-question06/module01-question06-web-servlet3-annotation/target/
/module01-question06/module01-question06-web-servlet3-xml/target/
/module01-question07/target/
/module01-question08/target/
/module01-question09/module01-question09-boot/target/
/module01-question09/module01-question09-non-web/target/
/module01-question09/module01-question09-web/target/
/module01-question10/module01-question10-annotations/target/
/module01-question10/module01-question10-java-config/target/
/module01-question10/module01-question10-scopes/target/
/module01-question10/module01-question10-scopes-web/target/
/module01-question10/module01-question10-stereotypes/target/
/module01-question11/target/
/module01-question12/target/
/module01-question13/target/
/module01-question14/target/
/module01-question15/target/
/module01-question16/target/
/module01-question17/target/
/module01-question18/target/
/module01-question19/target/
/module01-question20/target/
/module01-question21/target/
/module01-question22/target/
/module01-question23/target/
/module01-question24/target/
/module01-question25/target/
/module01-question26/target/
/module01-question27/target/
/module01-question28/target/
/module01-question29/target/
/module01-question30/target/
/module01-question31/target/
/module01-question32/module01-question32-servlet-container/target/
/module01-question32/module01-question32-spring-boot/target/
/module01-question32/module01-question32-standalone/target/
/module01-question33/target/
/module01-question34/target/